<footer class="boxed-footer footer-main">
	<div id="footer">
		<div class="rows columnss container container-max " style="">
			<div class="columnz info-inner-wrap    no-title">
				<div class="logo-wrap"><a class="logo" href="https://chipgifts.ru/"><img alt=""
							src="./index_files/logo-footer.svg" title=""> </a></div>
				<div class="items-inner-wrap">
					<div class="info-wrap wrap-phone"><a href="tel:84954895139">+7 (495) 489-51-39</a></div>
					<div class="info-wrap wrap-email">
						<div class="info-title">Email:</div><a href="mailto:Info@chipgifts.ru">Info@chipgifts.ru</a>
					</div>
					<div class="info-wrap wrap-address">
						<div class="info-title">Адрес:</div>
						<p>г. Москва, Нижний Сусальный пер. 5, стр. 4</p>
					</div>
					<div class="info-wrap wrap-shedule">
						<div class="info-title">Режим работы интернет магазина:</div>
						<p>Без выходных с 9:00 до 21:00</p>
					</div>
					<div class="info-wrap wrap-shedule">
						<div class="info-title">Режим работы офиса:</div>
						<p>Пн-Пт с 9:00 до 18:00</p>
					</div>
				</div>
				<div class="text-wrap">
					<p>Chipgifts - интернет магазин изобретений с&nbsp;Кикстартера.</p>
					<p>Всё просто, мы в ручную фильтруем то, что нам действительно интересно, и хотим поделится нашим
						вдохновением с каждым из вас.</p>
				</div> <!--/div-->
			</div>
			<div class="columnz menu-inner-wrap    ">
				<div class="footer-title">Каталог</div><!--div class="column-menu-wrap"-->
				<ul class="menu">
					<li><a href="https://chipgifts.ru/katalog/aksesuari/" class="m-item ">Аксессуары</a></li>
					<li><a href="https://chipgifts.ru/katalog/virtualnaya-realnost/" class="m-item ">Очки виртуальной
							реальности</a></li>
					<li></li>
					<li><a href="https://chipgifts.ru/katalog/umniy-braslet/" class="m-item ">Умные браслеты</a></li>
					<li><a href="https://chipgifts.ru/katalog/dlya-khudozhnikov/" class="m-item ">Для художников </a>
					</li>
					<li><a href="https://chipgifts.ru/katalog/usb-hub/" class="m-item ">USB-хабы</a></li>
					<li><a href="https://chipgifts.ru/katalog/ryukzaki/" class="m-item ">Умные рюкзаки</a></li>
					<li><a href="https://chipgifts.ru/katalog/smart-bags/" class="m-item ">Умные чемоданы</a></li>
					<li><a href="https://chipgifts.ru/katalog/aksessuary-dlya-geymerov/" class="m-item ">Аксессуары для
							геймеров</a></li>
					<li><a href="https://chipgifts.ru/katalog/games/" class="m-item ">Игрушки</a></li>
					<li><a href="https://chipgifts.ru/katalog/sport-i-zdorove/" class="m-item ">Спорт и здоровье</a>
					</li>
					<li><a href="https://chipgifts.ru/katalog/trackers/" class="m-item ">Трекеры</a></li>
					<li><a href="https://chipgifts.ru/katalog/foto-video/" class="m-item ">Фото-Видео</a></li>
					<li><a href="https://chipgifts.ru/katalog/besprovodnie-dinamiki/" class="m-item ">Беспроводные
							динамики</a></li>
					<li><a href="https://chipgifts.ru/katalog/kvadrokoptery/" class="m-item ">Квадрокоптеры</a></li>
					<li><a href="https://chipgifts.ru/katalog/other/" class="m-item ">Разное</a></li>
					<li><a href="https://chipgifts.ru/katalog/drones/" class="m-item ">Дроны</a></li>
					<li><a href="https://chipgifts.ru/katalog/mobilnyy-transport/" class="m-item ">Мобильный транспорт
						</a></li>
					<li><a href="https://chipgifts.ru/index.php?route=journal2/blog" class="m-item ">Статьи</a></li>
				</ul><!--/div-->
			</div>
			<div class="columnz actions-inner-wrap    ">
				<div class="footer-title">Подписка</div>
				<div class="column-wrap">
					<div id="journal-newsletter-137692599"
						class="journal-newsletter-22 box journal-newsletter text-left " style="; ">
						<div class="box-content subscribe-wrap" style=""><span class="newsletter-text"
								style="">Подпишитесь на нашу рассылку.<br>Отправляем лишь самое важное и
								полезное</span><span class="newsletter-input-wrap" style=""><input type="text"
									class="newsletter-email" placeholder="" data-style=""><a
									class="newsletter-button button"
									onclick="Journal.newsletter($(&#39;#journal-newsletter-137692599&#39;));"
									data-style="">Подписаться</a></span></div>
						<script>
							$("<style></style>").appendTo($('head'));
						</script>
					</div>
					<div class="callback-wrap"><a href="https://chipgifts.ru/#" class="btn imcallask-click">
							<div class="button-ico"><img src="./index_files/phone(1).svg" alt=""></div>
							<div class="button-title">Связаться с нами</div>
						</a></div>
					<div class="pays-wrap">
						<div class="footer-title">Принимаем к оплате</div>
						<div class="pay-list">
							<div class="flex_b"><img src="./index_files/other_pay.svg" alt=""><img
									src="./index_files/master_pay.svg" alt=""><img src="./index_files/visa_pay.svg"
									alt=""><img src="./index_files/mir_pay.svg" alt=""><img
									src="./index_files/spb_pay.svg" alt=""></div>
						</div>
					</div>
					<div class="copy-wrap">
						<p>
							<img src="./img/icons/wa.svg" alt="">
							Холдинг Meta - экстремистская организация
						</p>
						<br>
						<p>2025. Все права защищены</p>
						<p><a href="https://chipgifts.ru/privacy">Политика конфиденциальности</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="scroll-top"></div>
<script src="./index_files/modernizr.min.js"></script>
<script src="./index_files/jquery.maskedinput.js"></script>
<script src="./index_files/bootstrap.min.js"></script>
<script src="./index_files/jquery-migrate-1.2.1.min.js"></script>
<script src="./index_files/jquery-ui-slider.min.js"></script>
<script src="./index_files/common.js"></script>
<script src="./index_files/jquery.total-storage.min.js"></script>
<script src="./index_files/tabs.js"></script>
<script src="./index_files/swiper.jquery.min.js"></script>
<script src="./index_files/jquery-ias.min.js"></script>
<script src="./index_files/intense.min.js"></script>
<script src="./index_files/lightgallery.js"></script>
<script src="./index_files/lg-thumbnail.min.js"></script>
<script src="./index_files/jquery.magnific-popup.js"></script>
<script src="./index_files/jquery.lazy.1.6.min.js"></script>
<script src="./index_files/jquery.actual.min.js"></script>
<script src="./index_files/jquery.hoverIntent.min.js"></script>
<script src="./index_files/jquery.countdown.js"></script>
<script src="./index_files/jquery.pnotify.min.js"></script>
<script src="./index_files/respond.js"></script>
<script src="./index_files/jquery.imagezoom.min.js"></script>
<script src="./index_files/jquery.autocomplete2.min.js"></script>
<script src="./index_files/jquery.imcallask.js"></script>
<script src="./index_files/journal.js"></script>
<script src="./index_files/scripts.js"></script>
<script src="./index_files/jquery.themepunch.tools.min.js"></script>
<script src="./index_files/jquery.themepunch.revolution.js"></script>
<script src="./index_files/ocfilter.js"></script>
<script src="./index_files/init.js"></script>
<script src="./index_files/index(1).php"></script>
<script>
	$(function () {
		$('input[name="burgermenu"]').on('change', function () {
			if ($(this).is(':checked')) { $('.for_pc').addClass('open'); } else { $('.for_pc').removeClass('open'); }
		});

		$('.burger_block li').on('hover', function () {
			var w = $(window).width();
			//$('.burger_block li ul.top-dropdown').attr('style','width:'+w+'px;left:-10px;transform:unset;');
		});
	});
</script>



<!-- new files -->
 <link rel="stylesheet" href="./css/style.css">
<script src="./js/scripts.js"></script>
<!-- end new files -->