<!--popup-outer-box-->
<div class="popup-outer-box popup-main" id="popup-login">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close-main js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Войти</div>
		</div>
		<div class="popup-content-wrap">
			
			<!--tab-box-->
			<div class="tabs-box js-tabs-nav">
				<ul class="menu">
					<li>
						<a href="" class="btn button-tab active" data-tab="popupform01">
							<div class="button-title">Вход по ID</div>
						</a>
					</li>
					<li>
						<a href="" class="btn button-tab" data-tab="popupform02">
							<div class="button-title">Вход через эл. почу</div>
						</a>
					</li>
				</ul>
			</div>
			<!--/tab-box-->

			<!--popup-links-box-->
			<div class="popup-links-box js-tab-block" data-tab="popupform01">
				<ul class="menu">
					<li>
						<a href="" class="btn button-border button-light">
							<div class="button-title">Войти с </div>
							<div class="button-ico">
								<img src="./img/icons/login01.svg" alt="">
							</div>
							<div class="button-title">ID</div>
						</a>
					</li>
					<li>
						<a href="" class="btn button-border button-light">
							<div class="button-title">Войти с </div>
							<div class="button-ico">
								<img src="./img/icons/login02.svg" alt="">
							</div>
							<div class="button-title">ID</div>
						</a>
					</li>
					<li>
						<a href="" class="btn button-border button-light">
							<div class="button-title">Войти с </div>
							<div class="button-ico">
								<img src="./img/icons/login03.svg" alt="">
							</div>
							<div class="button-title">ID</div>
						</a>
					</li>
					<li>
						<a href="" class="btn button-border button-light">
							<div class="button-title">Войти с </div>
							<div class="button-ico">
								<img src="./img/icons/login04.svg" alt="">
							</div>
							<div class="button-title">ID</div>
						</a>
					</li>
				</ul>
				<div class="popup-form-info-wrap">Используя сторонние сервисы авторизации, вы подтверждаете, что соглашаетесь с <a href="" class="link-main">правилами пользования сайтом</a></div>
			</div>
			<!--/popup-links-box-->

			<!--popup-form-wrap-->
			<form action="/" class="popup-form-wrap js-tab-block" data-tab="popupform02">
				<div class="frm-row">
					<div class="frm-field">
						<input type="email" class="form-control type-input" placeholder="Email">
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<input type="password" class="form-control type-input" placeholder="Пароль">
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field">
						<div class="popup-form-info-wrap">Используя сторонние сервисы авторизации, вы подтверждаете, что соглашаетесь с <a href="" class="link-main">правилами пользования сайтом</a></div>
					</div>
					<div class="frm-field">
						<button type="submit" class="btn">
							<div class="button-title">Войти </div>
						</button>
					</div>
					<div class="frm-field">
						<div class="popup-form-info-wrap">Забыли пароль? <a href="" class="link-main">Напомнить</a></div>
					</div>
				</div>
			</form>
			<!--/popup-form-wrap-->
			
		</div>
	</div>
</div><!--/popup-outer-box-->